# Server
PORT=
CLIENT_URL=

# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_CA=
DB_PORT=

# Auth
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Nodemailer (technician temp password email)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

CLOUDINARY_CLOUD_NAME=w7wornu6
CLOUDINARY_API_KEY=197847774299615
CLOUDINARY_API_SECRET=JWx9MfMS74JHZ2zxv91vSTptthA