# Server
PORT=5000
CLIENT_URL=http://localhost:5173

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=cctv_health_monitoring_system

# Auth
JWT_ACCESS_SECRET=1ceb2bd1a4681a612b6f29e57d0c0cd9d4e54080e58112fbce2466bc9b87afdb
JWT_ACCESS_EXPIRES=15m

JWT_REFRESH_SECRET=7cfe528b0c7217022452fea92037abe50b62cb8b3dbb7b107e451c76c1fbdbf7
JWT_REFRESH_EXPIRES_IN=7d

# Nodemailer (technician temp password email)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
